*.iml
.gradle
/local.properties
/.idea/caches
/.idea/codeStyles
/.idea/compiler.xml
/.idea/copyright
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
